<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.university.assistant"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AndroidDevelopers" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".C_A_MainActivity"
            android:label="@string/class_assistant" >
        </activity>
        <activity
            android:name=".C_A_ClassHourEditActivity"
            android:label="@string/ca_classhour_edit" >
        </activity>
        <activity
            android:name=".C_A_ScheduleEditActivity"
            android:label="@string/ca_classhour_edit" >
        </activity>
        <activity
            android:name=".C_A_SettingActivity"
            android:label="@string/ca_classhour_edit" >
        </activity>
        <activity
            android:name=".businesslogic.C_A_LockActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".businesslogic.C_A_AlarmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="上课提醒"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/dialog" >
        </activity>

        <receiver android:name=".businesslogic.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".businesslogic.C_A_TimingService" >
        </service>
        <service android:name=".businesslogic.C_A_LockService" >
        </service>

        <receiver android:name=".businesslogic.C_A_ClassModeBroadcastReceiver" >
        </receiver>
        <receiver android:name=".businesslogic.C_A_AlarmBroadcastReciver" >
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name= "android.permission.READ_PHONE_STATE"/>
    

</manifest>